*{
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
.section1{
    height: 65rem;
    width: 100%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(246, 88, 88, 0.443);
}
.section1 img{
    width:70%;
    height:50rem;
    justify-content: right;
}
.section1 div{
    width:30%;
    height:70rem;
    background-color: rgb(252, 252, 252);
    color: black;
    text-align:center;
    margin: 25rem auto;
}
.section1 div a{
    border: 1px solid black;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    color: rgb(80, 43, 226);
    font-weight: bolder;
}
.section1 div h1{
    font-size: xxx-large;
    color: darkblue;
}
.section1 div h2{
    margin: -40px 0px 40px 0px;
    color:rgb(79, 98, 156);
}
.section2{
    display: block;
    text-align: center;
    position:absolute;
}
.section2 h1{
    background: rgb(7, 7, 7);
    color:white;
    padding: 2rem;
    margin:0px;
    margin-top: 1rem;
}
.section2 img{
    margin: 0px;
    width: 100%;
}
.section2 p{
    background: rgb(180, 180, 180);
    padding: 1.5rem;
    text-align: center;
    margin: 0px;
    margin-bottom: 1rem;
    font-size: x-large;
    color: black;
    font-weight: bold;
}